.markdown {
  color: #3a1437;
  h1 {
    color: #02d8ff;
    font-size: 8.421052632rem;
    letter-spacing: -13px;
    line-height: 8.421052632rem;
    font-family: 'Space Mono', monospace;
  }
  h2,
  h3,
  h4 {
    color: #52244f;
  }
  h2 {
    margin-bottom: 1.052631579rem;
    font-size: 1.789473684rem;
    line-height: 2.105263158rem;
    font-weight: 600;
  }
  h3 {
    font-size: 1.157894737rem;
    line-height: 1.315789474rem;
    font-weight: 600;
    margin-bottom: 0;
  }
  h4 {
    margin-bottom: 0;
  }
  ul {
    margin-left: 0;
  }
  li {
    margin-bottom: 0;
    margin-left: 1rem;
  }
  a {
    text-decoration: none;
    color: #dd1d64;
    &:hover {
      text-decoration: underline;
    }
  }
  a,
  code,
  strong {
    white-space: pre-wrap;
    word-break: break-all;
    word-wrap: break-word;
  }
  .contributors {
    position: absolute;
    top: 10px;
    right: 140px;
    color: #dd1d64;
    @media (max-width: 1024px) {
      right: 0;
      font-size: 1.5em;
    }
    @media (max-width: 768px) {
      right: 0;
      top: -10px;
      font-size: 1.5em;
    }
  }
}

.contributor {
  width: 20%;
  float: left;
  text-align: center;
  padding-bottom: 5%;
  @media (max-width: 768px) {
    width: 33%;
    &.wider {
      width: 50%;
    }
  }
  .position {
    background-color: #02d8ff;
    color: #fff;
    border-radius: 50%;
    max-width: 40px;
    max-height: 40px;
    width: 15%;
    font-size: 1em;
    font-weight: bold;
    margin: 0 auto;
    margin-bottom: 10px;
    @media (max-width: 667px) {
      width: 20px;
      height: 20px;
    }
  }
  .name {
    color: #dd1d64;
    font-size: 1.5em;
    font-weight: bold;
    margin: 0 auto;
    margin-bottom: 10px;
    @media (max-width: 375px) {
      font-size: 1.2em;
    }
  }
  .numberOfMessages {
    color: #52244f;
    font-size: 0.8em;
    font-weight: bold;
    margin: 0 auto;
    margin-bottom: 10px;
  }
}

.members,
.messagesSent,
.messagesSentToday {
  position: relative;
  width: 60%;
  margin-bottom: 10%;

  h1 {
    color: #02d8ff;
    font-size: 8.421052632rem;
    letter-spacing: -13px;
    line-height: 8.421052632rem;
    font-family: 'Space Mono', monospace;
  } 
  @media (max-width: 1024px) {
    width: 65%;
  }
  @media (max-width: 768px) {
    width: 85%;
  }
  @media (max-width: 667px) {
    width: 100%;
  }
  @media (max-width: 375px) {
    h1 {
      font-size: 5.5em;
      letter-spacing: -5px;
    }
  }
  h2 {
    position: absolute;
    top: -10px;
    right: 0px;
    color: #dd1d64;
    text-transform: uppercase;
    @media (max-width: 375px) {
      font-size: 1.5em;
    }
  }
}

.markdownIt-TOC {
  list-style: none;
  a {
    color: #dd1d64;
    text-decoration: none;
    &:hover {
      text-decoration: underline;
    }
  }
  ul {
    list-style: disc;
    font-size: 15px;
    line-height: 15px;
    ul {
      list-style: circle;
      font-size: 12px;
      line-height: 12px;
    }
  }

}

.slider-list {
    max-height:350px;
}

.slider-decorator-0 {
  bottom: -140px !important;
}